.form {
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #383838;
    border: 1px solid rgba(241, 4, 4, 0.308);
    border-radius: 8px;
    padding: 100px;
}

.sendBtn {
    align-self: center;
    padding: 4px;
    cursor: pointer;
}